.section-title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: $accent-color;
    opacity: 0.7;
}
