<div class="chat chat--close">
    <div class="chat__header">
        <div class="chat__admin-img-box">
            <img src="./dist/images/admin.jpg"  alt="" class="chat__admin-img">
        </div>
        <p class="chat__admin-name">Administrator</p>
        <button class="chat__header-button"><span class="icon-open-chat"></span></button>
    </div>
    <div class="chat__main">
        <ul class="message__list">
            
        </ul>
    </div>
    <div class="chat__footer">
        <div class="chat__footer-wrapper">
            <textarea name="" autocomplete="off" id="" cols="30" rows="2" class="chat__textarea" placeholder="Message"></textarea>
            <span class="chat__count-text">0/100</span>
            <button class="chat__footer-btn"><span class="icon-send"></span></button>
        </div>
    </div>
</div>