<!-- <div class="footer-company__socials footer-soc">
    <a href="#" class="footer-soc__item footer-soc__item--instagram"></a>
    <a href="#" class="footer-soc__item footer-soc__item--facebook"></a>
    <a href="#" class="footer-soc__item footer-soc__item--twitter"></a>
    <a href="#" class="footer-soc__item footer-soc__item--youtube"></a>
</div> -->

<section class="socials">
    <ul class="socials__list">
        <li class="socials__item socials__item--instagram">
            <a href="#" class="socials__link">
                <span class="socials__ico icon-instagram"></span>
            </a>
        </li>
        <li class="socials__item socials__item--facebook">
            <a href="#" class="socials__link">
                <span class="socials__ico icon-facebook"></span>
            </a>
        </li>
        <li class="socials__item socials__item--twitter">
            <a href="#" class="socials__link">
                <span class="socials__ico icon-twitter"></span>
            </a>
        </li>
        <li class="socials__item socials__item--youtube">
            <a href="#" class="socials__link">
                <span class="socials__ico icon-youtube"></span>
            </a>
        </li>
    </ul>
</section>